<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="bg-gradient-to-br from-slate-900 to-black min-h-screen p-4 text-white flex flex-row md:items-center justify-center">
    <div class="container mx-auto max-w-xl flex flex-col gap-4 bg-white/5 rounded-xl p-10 py-16 ">
        <h2 class="text-center text-xl font-bold pb-4" >✅ Formulaire de suivi envoyé avec succès !</h2>

        <form action="{{ url_for('index') }}">
            <button type="submit">⬅️ Retour au formulaire principal</button>
        </form>

        <form action="{{ url_for('suivi_feedback') }}">
            <button type="submit">🔄 Remplir un autre formulaire de suivi</button>
        </form>
    </div>
</body>
</html>
